[Unit]
Description=Flask Application
[Service]
User=flask-blog
WorkingDirectory=/opt/flask-blog
EnvironmentFile=/opt/flask-blog/flask.env
ExecStart=/bin/sh \
	-c 'cd /opt/flask-blog && \
	. ./venv/bin/activate && \
	gunicorn --workers=4 --bind=0.0.0.0:5001 app:app'
[Install]
WantedBy=multi-user.target
